body{
    background: black;
}

.headerbox{
    height: 20%;
    width: 100%;
    background: #5c1414;
}

.mainhead{
    
    padding-top: 0.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.aboutbox{
    color: white;
    height: auto;
    width: 30%;
    
}

.aboutmeheader{
    font-size: 45px;
}

.aboutmetext{
    font-size: 20px;
}



.projects{
    color: white;
    padding-left: 19%;
    margin-left: 50%;
    bottom: 52.5%;
    position: absolute;
    font-size: 18px;
}

.projectshead{
    
    font-size: 40px;
}

.foot{
    color: black;
    position: absolute;
    bottom:0;
    padding-left: 45%;
    width:54%;
    background-color: #5c1414;
}
a {
    color:black;
}
